*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    scroll-behavior: smooth;
}
body{
    background-color: rgb(8, 8, 14);
}

nav{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 55px 0;   
    position: sticky;
    top: 0;
    background-color: rgb(8, 8, 14);
    z-index: 2; 
}

.logo-i{
    position: absolute;
    width: 50px;
    left: 6%;
}
.logo-t{
    position: absolute;
    left: 9%;
    font-size: 35px;    
    font-family: Helvetica;
    color: white;
    cursor: context-menu;
}
.container-links{
    position: absolute;
    left: 50%;
    translate: -45%;
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.links{
    position: relative;
    padding: 5px;
    color: white;
    font-size: 25px;
    font-family: Arial;
}
.links::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: rgb(52, 52, 255);
    scale: 0 1;
    transform-origin: left;
    transition: 0.35s ;
}
.links:hover::before{
    scale: 1;
}
.login{
    position: absolute;
    right: 6%;
    border: none;
    background-color: rgb(52, 52, 255);
    padding: 15px 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px black;
    color: white;
    font-size: 25px;
    font-family: Arial;
}

.login:hover{
    transition: 0.9s;
    transform: scale(1.05);
}
#sidebar {
    display: none; 
    width:0 ;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    padding-top: 20px;
  }
  #menu-icon {
    cursor: pointer;
    font-size: 24px;
    display: none;
  }
  .links-m{
    font-size: 0;
  }
.pag1{
    display: flex;
    flex-direction: row;
    padding-bottom: 100px;
    margin-bottom: 200px;
    position: relative;
    height: 600px;
}
.banner{
    color: rgb(255, 255, 255);
    font-family: Arial;
    font-size: 20px;
    display: flex;
    flex-flow: row wrap;
    width: 950px;
    max-height: 400px;
    gap: 15px;
    margin-top: 120px;
    position: absolute;
    left: 6%;
    top: 6%;
}
.min-title{
    font-family: Helvetica;
    font-size: 16px;
    color: rgb(52, 52, 255);
    padding-left: 5px;
}
.banner>h1{
    font-size: 95px;
    font-family:Helvetica;
}
.banner>h1>b{
    color: transparent;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 1px;
}
.princ-text{
    color: rgb(145, 145, 145);
    font-size: 22px;
    padding-right: 100px;
    font-family: Arial;
}
.start{
    border: none;
    color: white;
    margin-top: 20px;
    font-size: 25px;
    background-color: rgb(52, 52, 255);
    padding: 15px 50px;
    border-radius: 5px;
    animation: botton-anim 2s infinite ease-in-out;
}
.felipe{
    width: 35%;
    padding: 0;
    margin-top: 160px;
    margin-left: 70px;
    box-shadow: 0 0 25px  rgb(0, 0, 0);
    border-radius: 20px;
    position: absolute;
    top: 4%;
    right: 6%;
}
.text-fundo{
    position: absolute;
    color: #39393919;
    font-size: 350px;
    font-family: Helvetica;
    z-index: -1;
    top: 60vh;
    left: 30vw;
}
@keyframes botton-anim {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.05);
        box-shadow: -1px 10px 10px black;
    }
    100%{
        transform: scale(1);
    }
}


.pag2{
    width: 0;
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
    margin-bottom: 100px;
    padding-top: 200px;
    opacity: 0;
    transform: translateX(100px);
    transition: opacity 0.9s ease-out, transform 0.9s ease-out;
}
.pag2.show{
    width: 100%;
    opacity: 1;
    transform: translateX(0);
}
.pag2>h2{
    color: white;
    font-family: Helvetica;
    font-size: 25px;
    padding-left: 120px;
}
.container-p2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    gap: 20px;
}
.cards{
    background-color: rgb(12, 12, 19);
    display: flex;
    flex-flow: column nowrap;
    width: 360px;
    height: 450px;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    color: #b6b6b6;
    padding: 20px;
    font-family: Arial;
    position: relative;
}
@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
.cards::after{
    content: '';
    position: absolute;
    background: conic-gradient(from var(--angle), transparent 70%, rgb(34, 34, 255) );
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2px;
    border-radius: 10px;
    animation: 3.5s spin linear infinite;
}
.cards::before{
    filter: blur(1rem);
    opacity: 0.5;
}

.icones{
    width: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.icones>img{
    width: 60px;
}
.cards>h2{
    padding-top: 20px;
    font-size: 30px;
    padding-bottom: 30px;
}
.content-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
}
.content-card>p{
    font-size: 24px;
    padding-bottom: 70px;
}
.content-card>a{
    font-size: 24px;
    color: white;
    animation: link-anim 2s infinite ease-in-out;
}
@keyframes link-anim {
    0%{
        transform: translateX(10px);
    }
    50%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(10px);
    }
}

@keyframes spin{
    from{
        --angle: 0deg;
    }
    to{
        --angle: 360deg;
    }
}
.pag3{
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
    margin-bottom: 200px;
    padding-top: 200px;
}

.pag3>h2{
    color: white;
    font-family: Helvetica;
    font-size: 25px;
    padding-left: 120px;
}
.container-p3{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 100px;
    margin-top: 100px;
}
.sub-linha{
    height: auto;
    margin: 0 50px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

}
.img-arrow{
    width: 100px;
    background-color: transparent;
    border: none;
}
.imagem-button{
    width: 50px;
}
.img-arrow:hover{
    transform: scale(1.2);
    transition: 0.5s;
}
.linha-cont{
    height: 570px;
    display: flex;
    flex-flow: row nowrap;
    gap: 16px;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    scroll-behavior: smooth;/*faz com que role e não pule direto*/
}
.cards-p3{
    background-color: rgb(11, 11, 17);
    height: 550px;
    min-width: 400px;
    max-width: 400px;
    box-shadow: -1px -1px 10px rgb(0, 0, 0);
    border-top-left-radius: 30px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 10px;
    display: flex;
    flex-flow: column wrap;
    color: rgb(199, 199, 199);
    font-family: Helvetica;
}
.cards-p3:hover{
    transform: scale(1.02);
    transition: 0.5s ;
}
.cont-img{
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.cont-img>img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    min-width: 400px;
    min-height: 300px;
    max-width: 400px;
    height: 260px;
    object-fit: cover;
}
.organiz-descrit{
    display: flex;
    flex-flow: column wrap;
    max-width: 400px;
}
.organiz-descrit>h3{
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
}
.organiz-descrit>p{
    font-size: 20px;
    padding-left: 30px;
    padding-right: 10px;
    color: rgb(185, 185, 185);
}
.organiz-descrit>h4{
    padding-top: 40px;
    color: rgb(53, 131, 66);
    font-size: 30px;
    padding-left: 30px;
}
footer{
    display: flex;
    font-family: Arial;
    flex-direction: row;
    background-color: rgb(5, 5, 8);
    box-shadow: 0 -1px 10px black;
    gap: 30px;
}
.footer-cont1{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.content-footer{
    padding-left: 120px;
    padding-bottom: 2px;
    width: 580px;
}
.content-footer> p{
    color: rgb(158, 158, 158);
    font-size: 20px;
}
.containder-icons-footer{
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    margin-top: 50px;
    gap: 15px;
    margin-bottom: 100px;
}
.icon-cont1, .icon-cont2, .icon-cont3{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    
}

.icon-cont1{
    border: 2px solid rgba(89, 255, 47, 0.384);
}
.icon-cont2{
    border: 2px solid rgba(0, 68, 255, 0.692);
}
.icon-cont3{
    border: 2px solid rgba(226, 5, 5, 0.514);
}


.img-icon-footer{
    width: 30px;
}
.icon-cont1:hover, .icon-cont2:hover, .icon-cont3:hover{
    transform: scale(1.05);
    transition: 0.5s;
    cursor: pointer;
}
.footer-cont2{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 100px;
}
.footer-cont2>h2{
    color: white;
    padding-bottom: 40px;
    font-size: 25px;
}
.footer-cont2>ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
}
.About>a{
    font-size: 20px;
    color: rgb(158, 158, 158);
}
.About>a:hover{
    color: rgb(0, 68, 255);
    transition: 0.5s;
}
@media screen and (max-width:1850px) {
    .links, .login{
        font-size: 22px;
    }
    .cards{
        width: 340px;
    }
    .content-card>p{
        font-size: 22px;
    }
}

@media screen and (max-width:1600px) {
    
    .links{
        font-size: 22px;
    }
    .login{
        padding: 13px 45px;
    }
    .pag1{
        margin-bottom: 90px;
        margin-top: 60px
    }
    .banner{
        margin-left: 30px;
        font-size: 20px;
        width: 800px;
        max-height: 400px;
        margin-top: 50px;
    }
    .min-title{
        font-size: 15px;
        padding-left: 5px;
    }
    .banner>h1{
        font-size: 75px;
    }
    .princ-text{
        font-size: 18px;
        padding-right: 100px;
        font-family: Arial;
    }
    .felipe{
        width: 34%;
        margin-top: 100px;
        margin-left: 45px;
    }
    .text-fundo{
        position: absolute;
        top: 70vh;
        left: 25vw;
        font-size: 270px;
    }

    /* Fim da página 1 */

    
    .pag2{
        padding-bottom: 100px;
        margin-bottom: 80px;
        padding-top: 160px;

    }
    .pag2>h2{
        font-size: 22px;
    }
    .cards{ 
        width: 280px;
        height: 380px;
        padding: 20px;
    }
    .icones>img{
        width: 50px;
    }
    .cards>h2{
        padding: 20px 5px;
        font-size: 26px;
        padding-bottom: 30px;
    }
    .content-card>p{
        font-size: 19px;
        padding-bottom: 70px;
        padding-left: 5px;
    }
    .content-card>a{
        font-size: 20px;
    }

    /* Fim da página 2*/
    .pag3{
        padding-top: 150px;
    }
    .cards-p3{
        height: 500px;
        min-width: 360px;
    }
    .cont-img>img{
        min-width: 360px;
        min-height: 200px;
        max-width: 360px;
        height: 280px;
    }
    .organiz-descrit>h3{
        font-size: 22px;
    }
    .organiz-descrit>p{
        font-size: 17px;
        padding-right: 30px;
    }
    .organiz-descrit>h4{
        font-size: 22px;
    }
    .linha-cont{
        height: 510px;
    }
    .imagem-button{
        width: 40px;
    }
}
@media screen and (max-width:1280px) {
    .logo-i{
        width: 40px;
        left: 6%;
    }
    .logo-t{
        font-size: 30px;
        left: 10%;
    }
    .links{
        font-size: 20px;
    }
    .login{
        padding: 14px 40px;
        font-size: 20px;
    }
    .pag1{
        margin-bottom: 90px;
        margin-top: 50px;
    }
    .banner{
        margin-left: 0;
        font-size: 20px;
        width: 650px;
        height: auto;
        margin-top: 50px;
    }
    .min-title{
        font-size: 12px;
    }
    .banner>h1{
        font-size: 65px;
    }
    .princ-text{
        font-size: 15px;
    }
    .felipe{
        width: 34%;
        margin-top: 50px;
        margin-left: 20px;
    }
    .text-fundo{
        top: 65vh;
        left: 25vw;
        font-size: 250px;
    }
    .start{
        padding: 14px 40px;
        font-size: 20px;
    }

    /* Fim da página 1 */

    
    .pag2{
        padding-bottom: 100px;
        margin-bottom: 80px;
        padding-top: 160px;

    }
    .pag2>h2{
        font-size: 22px;
        padding-left: 75px ;
    }
    .container-p2{
        padding-left: 75px;
        padding-right: 75px;
    }
    .cards{ 
        width: 235px;
        height: 320px;
        padding: 15px;
    }
    .icones>img{
        width: 0px;
        opacity: 0;
    }
    .cards>h2{
        font-size: 22px;
        padding-bottom: 35px;
    }
    .content-card>p{
        font-size: 16px;
    }
    .content-card>a{
        font-size: 18px;
    }

    /* Fim da página 2*/
    .pag3{
        padding-top: 150px;
    }
    .pag3>h2{
        padding-left: 75px;
        font-size: 22px;
    }
    .cards-p3{
        height: 450px;
        min-width: 340px;
    }
    .cont-img>img{
        min-width: 340px;
        min-height: 180px;
        max-width: 340px;
        height: 250px;
    }
    .organiz-descrit>h3{
        font-size: 20px;
    }
    .organiz-descrit>p{
        font-size: 16px;
        padding-right: 30px;
    }
    .organiz-descrit>h4{
        font-size: 20px;
    }
    .linha-cont{
        height: 470px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .imagem-button{
        width: 40px;
    }
   
}
@media screen and (max-width:900px) {
    .container-links, .login{
        display: none;
    }
    .container-links-mob{
        display: flex;
        flex-flow: column wrap;
        gap: 30px;
        align-items: center;
        padding-top: 150px;
    }
    .links-m{
        color: rgb(180, 180, 180);
        font-size: 22px;
        width: 350px;
        text-align: center;
        border-radius: 5px;
        padding: 15px 10px;
    }
    .links-m:hover{
        background-color: rgb(17, 17, 24);
        transition: 0.5s;
    }
    #menu-icon {
        cursor: pointer;
        font-size: 35px;
        display: block;
        position: absolute;
        right: 5%;
        color: rgb(148, 148, 148);
        transition: transform 0.3s ease;

      }
    #sidebar {
        display: none; 
        width: 0;
        background-color: rgb(11, 11, 17);
        box-shadow: -1px -1px 12px black;
        position: absolute;
        top: 0;
        left: 51%;
        height: 1000px;
        padding-top: 20px;
        transition: transform 0.3s ease;
        z-index: -1;
        justify-content: center;
    }
      .text-fundo{
        top: 65vh;
        left: 25vw;
        font-size: 200px;
    }
   footer{
    display: flex;
    flex-direction: column;
   }
   .footer-cont2{
    margin-left: 120px;
   }
}